@import "bootstrap/bootstrap.min.css";
@import "font-awesome/font-awesome.css";
@import "flexslider/flexslider.css";
@import "parallax-slider/parallax-slider.css";
@import "app.css";
@import "style.css";
@import "headers/header1.css";
@import "responsive.css";
@import "pages/page_clients.css";
@import "themes/default.css";
