<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
  <div class="container">
    <h1 class="pull-left">Coming Soon!</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="/">Home</a></li>
      <li class="active">Coming Soon!</li>
    </ul>
  </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">		
	<div class="row">
    <div class="col-md-9">
      <div class="clients-page margin-bottom-20">
		<h3>
			Sorry, we are still working on that piece of content. We encourage you to <a style="text-decoration:underline" href="http://get.treasuredata.com/Fluentd_education.html">
			sign up</a> for our Fluentd newsletter so that we can keep you posted about it.
		</h3>
      </div>

    </div><!--/col-md-9-->

    <div class="col-md-3">
      <%= erb(:_right_menu, :layout => false) %>
    </div><!--/col-md-3-->
  </div><!--/row-->        
</div><!--/container-->		
<!--=== End Content Part ===-->
