<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
  <div class="container">
    <h1 class="pull-left">Community</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="/">Home</a></li>
      <li class="active">Community</li>
    </ul>
  </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">
	<div class="row">
    <div class="col-md-9">
      <div class="clients-page margin-bottom-20">
        <img src="/images/env_icon.png" alt="" />
        <p><h3><a href="https://groups.google.com/forum/#!forum/fluentd">Mailing List</a></h3>
          Got a question? Have some cool Fluentd-related projects? The mailing list is the place to be.
        </p>
      </div>

      <div class="clients-page margin-bottom-20">
        <img src="/images/env_issue.png" alt="" />
        <p><h3><a href="https://github.com/fluent/fluentd/issues">Issue Tracker</a></h3>
          Do you think Fluentd has a bug? Do you wish Fluentd could do X? File an issue on GitHub.
        </p>
      </div>

      <div class="clients-page margin-bottom-20">
        <img src="/images/env_github.png" alt="" />
        <p><h3><a href="http://github.com/fluent/fluentd">Source Code</a></h3>
          Check out the source code. Contributions are always welcome.
        </p>
      </div>

      <div class="clients-page margin-bottom-20">
        <img src="/images/env_slack.png" alt="" />
        <p><h3><a href="http://slack.fluentd.org">Slack</a></h3>
        Join our Slack channel!, register to get an invitation and stay in touch.
        </p>
      </div>

    </div><!--/col-md-9-->

    <div class="col-md-3">
      <%= erb(:_right_menu, :layout => false) %>
    </div><!--/col-md-3-->
  </div><!--/row-->
</div><!--/container-->
<!--=== End Content Part ===-->
