<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
  <div class="container">
    <h1 class="pull-left">Contributing to Fluentd</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="/">Home</a></li>
      <li class="active">Events</li>
    </ul>
  </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <p>
        We'd love your contribution. Here are the guidelines!
      </p>
      <h3>Got a question or problem?</h3>
      <p>
        Resources of <a href="http://www.fluentd.org">Official site and <a href="http://docs.fluentd.org">Fluentd documentation</a> may help you.
      </p>
      <p>
        If you have further questions about Fluentd and plugins, please direct these to <a href="https://groups.google.com/forum/#!forum/fluentd">Mailing List</a>.
      </p>
      <p>
        Don't use Github issue for asking questions. Here are examples:
        <ul>
          <li>installed xxx plugin but it doesn't work. Why?</li>
          <li>Fluentd starts but logs are not sent to xxx. Am I wrong?</li>
          <li>I want to do xxx. How to realize it with plugins?</li>
        </ul>
      </p>
      <p>
        We may close such questions to keep clear repository for developers and users.
        Github issue is mainly for submitting a bug report or feature request. See below.
      </p>
      <p>
        If you can't judge your case is a bug or not, use mailing list or slack first.
      </p>
      <h3>Found a bug?</h3>
      <p>
        If you find a bug of Fluentd or a mistake in the documentation, you can help us by
        submitting an issue to Fluentd. Even better you can submit a Pull Request with a fix.
      </p>
      <ul>
        <li><b>Fluentd</b>: Use <a href="https://github.com/fluent/fluentd">Fluentd</a> repository. Fill issue template.</li>
        <li><b>Documentation</b>: Use <a href="https://github.com/fluent/fluentd-docs">Fluentd-Docs</a> repository.</li>
      </ul>
      <p>
        If you find a bug of 3rd party plugins, please submit an issue to each plugin repository.
        And use <a href="https://github.com/treasure-data/omnibus-td-agent">omnibus-td-agent</a> repository for td-agent releated issues.
      </p>

      <h3>Patch Guidelines</h3>
      <p>
        Here are some things that would increase a chance that your patch is accepted:
        <ul>
          <li>Write tests</li>
          <li>Run tests before send Pull Request by <i>bundle exec rake test</i></li>
          <li>Write a <a href="http://tbaggery.com/2008/04/19/a-note-about-git-commit-messages.html">good commit message</a></li>
        </ul>
      </p>
      <p>
        There are some patches which are hard to write tests, e.g. process handling, concurrency issue or etc.
        In such case, please don't hesitate to submit a Pull Request.
        We can discuss how to manage a patch on Pull Request :)
      </p>

      <div class="clearfix">
      </div>
    </div><!--/col-md-9-->

    <div class="col-md-3">
      <%= erb(:_right_menu, :layout => false) %>
    </div><!--/col-md-3-->
  </div><!--/row-->

</div><!--/container-->
<!--=== End Content Part ===-->
