<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
  <div class="container">
    <h1 class="pull-left"><%=@title%></h1>
    <ul class="pull-right breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a href="/datasources">Data Sources</a></li>
      <li class="active">Here</li>
    </ul>
  </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">     
  <div class="row">
    <div class="col-md-9">
      <%=@content%>
      <h2>
        What's Next?
      </h2>
      <p>
        It's time to configure data outputs. <a href="/dataoutputs">Here are some examples.</a>
      </p>
    </div><!--/col-md-9-->
    <div class="col-md-3">
      <%= erb(:_right_menu, :layout => false) %>
    </div><!--/col-md-3-->
  </div><!--/row-->        

</div><!--/container-->     
<!--=== End Content Part ===-->
