<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
  <div class="container">
    <h1 class="pull-left">Download Fluentd</h1>
  </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">
  <div class="row portfolio-item margin-bottom-20">
    <!-- Content Info -->
    <!--
    <div class="col-md-12 md-margin-bottom-20">
    </div>
    -->
  </div><!--/row-->

  <div class="row margin-bottom-20">
    <div class="col-md-9">
      <h3>Fluentd (v1, current stable)</h3>
      <h4>RPM, deb, Windows, macOS</h4>
      <div>Fluentd v1 is available on Linux, Mac OSX and Windows. It's packaged by <a href="https://calyptia.com/">Calyptia</a> and <a href="https://www.treasuredata.com/">Treasure Data</a> respectively as:</div>
      <ul>
        <li><a href="/download/calyptia_fluentd">Calyptia Fluentd (calyptia-fluentd)</a></li>
        <li><a href="/download/td_agent">Treasure Agent (td-agent)</a></li>
      </ul>
      <br/>

      <h4><a name=other-distributions></a>Other distributions</h4>
      <div><a href="#other-distributions">Docker images, Kubernetes DaemonSet and Ruby gems</a> are also available from the community. </div>
      <div>All packaged versions are listed in the tables below.</div>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th width="20%">Platform</th>
            <th width="30%">Platform Version</th>
            <th width="50%">Package or Installer</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <center>
                <img src="/images/download-icons/docker_small.png" height="40px"><br/>
                Container
              </center>
            </td>
            <td>Docker</td>
            <td>
              <a href="https://hub.docker.com/r/fluent/fluentd/">Docker image at Docker Hub</a>
            </td>
          </tr>
          <tr>
            <td>
              <center>
                <img src="/images/download-icons/k8s.png" height="40px"><br/>
                Container Orchestration
              </center>
            </td>
            <td>Kubernetes</td>
            <td>
              <a href="https://hub.docker.com/r/fluent/fluentd-kubernetes-daemonset/">Kubernetes DaemonSet for Fluentd</a>
            </td>
          </tr>
          <tr>
            <td>
              <center>
                <img src="/images/download-icons/ruby.jpg"><br/>
                Ruby
              </center>
            </td>
            <td>Ruby v2.6.0 and above</td>
            <td>
              <span style="font-weight:bold">Fluentd v<%=TD_AGENT_VERSIONS[:v1][:'gem_v1.0']%> (current stable. recommend for production)</span>
              <ul>
                <li>
                  <code>gem install fluentd</code><br/>
                </li>
              </ul>
              <a href="//docs.fluentd.org/v1.0/articles/install-by-gem">Installation Guide</a> (* ruby expert-use only)<br/>
            </td>
          </tr>
        </tbody>
      </table>
      <br/>

      <h3>Fluent Bit (Lightweight Forwarder)</h3>
      <div>If you're looking for more lightweight forwarder for edge devices / servers / containers, use <a href="http://fluentbit.io/">Fluent Bit</a>, an open source data collector specifically designed for data forwarding. Fluent Bit is more efficient in terms of CPU / Memory usage, but has limited features. The following table list the available Linux packages for different distributions. Note that Fluent Bit packaged is known as <i>td-agent-bit</i>.</div>
      <br/>
      Visit <a href="https://fluentbit.io/">fluent-bit official site</a> and <a href="https://docs.fluentbit.io/">documentation</a>.
      <br/><br/>

    </div><!--/col-md-9-->
    <div class="col-md-3">
      <%= erb(:_right_menu, :layout => false) %>
    </div>
  </div><!--/row-->
</div><!--/container-->
<!--=== End Content Part ===-->
