<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
  <div class="container">
    <h1 class="pull-left">Fluentd Enterprise</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="/">Home</a></li>
      <li class="active">Enterprise</li>
    </ul>
  </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <a href="https://fluentd.treasuredata.com/"><img src="/images/fluentd_enterprise_banner.png" width="100%"/></a><br/><br/>
      <center>
        <p>
          The unified logging layer with security, scale, and reliability built for the enterprise.<br/>
          The product is offered by Treasure Data, Inc.
        </p>
      </center>
      <h3>Technical Support</h3>
      <p>Fluentd Enterprise is offered as a subscription that gives you access to the Fluentd creators and current maintainers. More information about services for Fluentd Enterprise can be found <a href="https://fluentd.treasuredata.com/services">here</a></p>
      <h3>Consulting</h3>
      <p>Need assistance with building your companies unified logging layer? We can guide you with best practices, how to scale billions of logs per day, and how to send data to where you need it. More information can be found <a href="https://fluentd.treasuredata.com/services">here</a></p>
      <p>
          <center>
            <a href="https://fluentd.treasuredata.com/" class="btn btn-primary hover-effect" style="font-size: 20px;" href="/architecture">Learn More</a>
            <a href="https://fluentd.treasuredata.com/pricing/" class="btn btn-primary hover-effect" style="font-size: 20px;" href="/architecture">View Pricing</a>
          </center>
        </p>

    </div><!--/col-md-9-->
    <div class="col-md-3">
    </div><!--/col-md-3-->

  </div><!--/row-->
</div><!--/container-->
<!--=== End Content Part ===-->
