<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
  <div class="container">
    <h1 class="pull-left">Enterprise Services</h1>
  </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">
  <div class="row portfolio-item margin-bottom-20">
    <!-- Content Info -->
    <!--
    <div class="col-md-12 md-margin-bottom-20">
    </div>
    -->
  </div><!--/row-->

  <div class="row margin-bottom-20">
    <div class="col-md-9">
      The following page list the companies offering Fluentd Enterprise services. If your company is not listed here, feel free to open a pull request in our <a href="https://github.com/fluent/fluentd-website">main Github repository</a>.
      <br/><br/><br/>

      <h3>ITOCHU Techno-Solutions America (CTC)</h3>
      <br/>
      <a href="https://fluentd.ctc-america.com/">
        <img src="/images/ctcamerica-fluentd.png" align="left" style="padding-right:8px; width: 240px; "/>
      </a>
      Commercial services, partnered with Treasure Data, to help you run Fluentd and Fluent Bit with confidence by solving your pains. Service desk is also available to ensure your success in deployment and operation. 
      <br/>
      <br/>

      <a style="background-color:#0E83C8; color:#FFF; padding: 10px; " href="https://fluentd.ctc-america.com/">
        Visit Website
      </a>

      <br/>
      <br/>

    </div><!--/col-md-9-->

    <div class="col-md-3">
      <%= erb(:_right_menu, :layout => false) %>
    </div>
  </div><!--/row-->
</div><!--/container-->
<!--=== End Content Part ===-->
