<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
  <div class="container">
    <h1 class="pull-left">Enterprise Services</h1>
  </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">
  <div class="row portfolio-item margin-bottom-20">
    <!-- Content Info -->
    <!--
    <div class="col-md-12 md-margin-bottom-20">
    </div>
    -->
  </div><!--/row-->

  <div class="row margin-bottom-20">
    <div class="col-md-9">
      The following page list the companies offering Fluentd Enterprise services. If your company is not listed here, feel free to open a pull request in our <a href="https://github.com/fluent/fluentd-website">main Github repository</a>.
      <br/><br/><br/>

      <h3>CTC America: Enterprise Support for Fluentd</h3>
      <br/>
      <a href="https://fluentd.ctc-america.com/">
        <img src="/images/ctcamerica-fluentd.png" align="left" style="padding-right:8px; width: 300px; "/>
      </a>
      The Enterprise Support for Fluentd provides wide range of services to help companies who uses Fluentd in production system and requires the responsive support for the successful operation. Our experienced team supported by Arm Treasure Data, the developer of Fluentd, ensures the quality of services.
      <br />
      <a style="background-color:#0E83C8; color:#FFF; padding: 10px; " href="https://fluentd.ctc-america.com/">
        Visit Website
      </a>

      <br/>
      <br/>

    </div><!--/col-md-9-->

    <div class="col-md-3">
      <%= erb(:_right_menu, :layout => false) %>
    </div>
  </div><!--/row-->
</div><!--/container-->
<!--=== End Content Part ===-->
