<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
  <div class="container">
    <h1 class="pull-left">Enterprise Product / Support</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="/">Home</a></li>
      <li class="active">Enterprise</li>
    </ul>
  </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="headline"><h2>Global</h2></div>

      <div class="clients-page margin-bottom-20">
        <a href="https://www.treasuredata.com/fluentd-enterprise/"><img src="/images/td_logo.jpg" alt="" /></a>
        <p>
          <h3><a href="https://www.treasuredata.com/fluentd-enterprise/">Treasure Data, Inc.</a></h3>
          As an original inventor of Fluentd project and having key committers in the company, <a href="https://www.treasuredata.com/fluentd-enterprise/">Treasure Data, Inc</a> offers additional Enterprise features and support offering. <a href="https://www.treasuredata.com/fluentd-enterprise/">Please visit here</a> for more details.
          <p><center><a href="https://www.treasuredata.com/fluentd-enterprise/" class="btn-u">&nbsp;&nbsp;LEARN MORE&nbsp;&nbsp;</a></center></p>
        </p>
      </div>

      <br/>

      <div class="headline"><h2>Japan</h2></div>
      <h4><a href="http://www.nttdata.com/jp/ja/news/services_info/2016/2016062101.html">NTT Data</a></h4>
      <ul>
        <li>
          NTT Data provides Enterprise Support for various open source products such as Hadoop, and Fluentd.<br/><a href="http://www.nttdata.com/jp/ja/news/services_info/2016/2016062101.html">Please visit here</a> for more details. NTT Data is a local partner of Treasure Data, Inc.
        </li>
      </ul>

      <h4><a href="http://www.sraoss.co.jp/prod_serv/support/fluentd-enterprise.php">SRA OSS</a></h4>
      <ul>
        <li>
          SRA OSS provides Enterprise Support for various open source products such as PostgreSQL, and Fluentd.<br/><a href="http://www.sraoss.co.jp/prod_serv/support/fluentd-enterprise.php">Please visit here</a> for more details. SRA OSS is a local partner of Treasure Data, Inc.
        </li>
      </ul>

    </div><!--/col-md-9-->

    <div class="col-md-3">
      <%= erb(:_right_menu, :layout => false) %>
    </div><!--/col-md-3-->
  </div><!--/row-->

</div><!--/container-->
<!--=== End Content Part ===-->
