<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
  <div class="container">
    <h1 class="pull-left">Events</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="/">Home</a></li>
      <li class="active">Events</li>
    </ul>
  </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="headline"><h2>Upcoming Events</h2></div>
      <ul>
        June 28, 2017 - <a href="https://www.treasuredata.com/resources/fluentd-splunk/">[Webinar] Fluentd Enterprise: Intelligently Filter Data Sent to Splunk</a>
      </ul>
      <br/>
      <div class="headline"><h2>Past Events</h2></div>
      <h4>2017</h4>
      <ul>
        June 01, 2017 - <a href="https://events.linuxfoundation.org/events/open-source-summit-japan">Fluentd Mini Summit!, Open Source Summit Japan</a>
        <a href="https://events.linuxfoundation.org/events/open-source-summit-japan/program/schedule">Fluentd Mini Summit Program</a>
      </ul>
      <ul>
        March 30, 2017 - <a href="https://events.linuxfoundation.org/events/cloudnativecon-and-kubecon-europe">Fluentd Salon!, CloudNativeCon and KubeCon Europe</a>
        <a href="https://sched.co/9TfD">Fluentd Salon Program</a>
      </ul>

      <h4>2016</h4>
      <ul>
        July 13, 2016 - LinuxCon + ContainerCon Japan 2016, Japan
          "<a href="https://lcccjapan2016.sched.org/event/7ERV/distributed-logging-architecture-in-container-era-satoshi-tagomori-treasure-data"">Distributed Logging Architecture in Container Era</a>"
      </ul>
      <ul>
        <li>
          June 25, 2016 - HKOScon, Hong Kong
          "<a href="https://2016.opensource.hk/topics/fluentd-unified-logging-layer/">Fluentd: Unified Logging Layer</a>"
        </li>
        <li>
          June 16, 2016 - Logging & Docker in Production, Mountain View, Treasure Data:
          "<a href="https://www.meetup.com/Docker-Mountain-View/events/231345785/">Logging for Production Systems in the Container Era</a>"
        </li>
        <li>
          June 01, 2016 - Fluentd meetup, Japan
          "<a href="https://eventdots.jp/eventreport/588701">Slides</a>"
        </li>
      </ul>
      <h4>2015</h4>
      <ul>
        <li>
          November 11, 2015 - Webinar by Treasure Data:
          "<a href="https://get.treasuredata.com/WBN-2015-11-11Fluentd.html">Fluentd: Best kept secret to unify logging on AWS, Docker, GCP and more</a>"
        </li>
        <li>
          November 06, 2015 - StartechConf, Santiago - Chile
          <a href="http://www.startechconf.com/schedule.html">Unificar eventos y logs en la nube</a>
        </li>
        <li>
          October 05, 2015 - CloudOpen, Dublin, Europe (<a href="https://www.linuxfoundation.org">Linux Foundation</a>)
          <a href="https://sched.co/3xVo">Unifying Events and logs into the cloud</a>
        </li>
        <li>
          August 17, 2015 - CloudOpen, US (<a href="https://www.linuxfoundation.org">Linux Foundation</a>)
          <a href="https://sched.co/3Z4j">Unifying Events and logs into the cloud</a>
        </li>
        <li>
          August 11, 2015 - Docker meetup@New Relic:
          <a href="https://www.meetup.com/ja/Docker-meetups/events/224050502/">Fluentd and Docker - running fluentd within a docker container</a>
        </li>
        <li>
          July 08, 2015 - FISL16, Brazil
          <a href="http://schedule.fisl16.softwarelivre.org/#/talk/809">Unifying Events and Logs into the Cloud with Open Source Software</a>
        </li>
        <li>
          June 05, 2015 - CloudOpen, Japan (<a href="https://www.linuxfoundation.org">Linux Foundation</a>)
          <a href="https://sched.co/2mgz">Unifying Events and logs into the cloud</a>
        </li>
        <li>
          March 13-15, 2015 - FOSSASIA:
          "<a href="https://2015.fossasia.org/">Fluentd Unified Logging Layer</a>"
        </li>
      </ul>
      <h4>2014</h4>
      <ul>
        <li>
        September 16, 2014 - Pivotal Open Source Hub:
        "<a href="https://www.meetup.com/Pivotal-Open-Source-Hub/events/193932692/">Using Fluentd to Gain Insights into Your Logs</a>"
        </li>
        <li>
        July 14, 2014 - SF Logging Meetup:
        "<a href="https://www.meetup.com/Logging/events/184654252/">OSS Log Management with Fluentd</a>"
        </li>
        <li>
          June 26, 2014 - RedDotRubyConf 2014:
          "<a href="http://www.reddotrubyconf.com/#tagomoris">Fluentd: Data Streams in Ruby world</a>" (<a href="https://www.slideshare.net/tagomoris/fluentd-data-streams-in-ruby-world-rdrc2014">slides</a>)
        </li>
        <li>
          June 25, 2014 - MongoDB World:
          "<a href="https://world.mongodb.com/mongodb-world/session/real-time-data-analytics-mongodb-and-fluentd-contextlogic">How Wish.com Runs Real Time Data Analytics For 30 MM Users with MongoDB and Fluentd</a>"
        </li>
        <li>
          Feb 19, 2014 - February SF Metrics Meetup:
          "<a href="https://www.meetup.com/San-Francisco-Metrics-Meetup/events/162878782/">Fluentd: Open Source Log Management</a>"
        </li>
        <li>
          Jul 31, 2013 - Fluentd SF User Group:
          "<a href="https://www.meetup.com/Fluentd-User-Group/events/130058332/">Fluentd as a Free Alternative to Splunk</a>"
        </li>
        <li>
          Jul 08, 2013 - Fluentd SF User Group:
          "<a href="https://www.meetup.com/Fluentd-User-Group/events/126799482/">Fluentd Meetup at Slideshare</a>"
        </li>
        <li>
          Jun 26, 2013 - Fluentd SF User Group:
          "<a href="https://www.meetup.com/Fluentd-User-Group/events/125715962/">Fluentd Meetup at Heavybit</a>"
        </li>
      </ul>
      <div class="clearfix">
      </div>
      <div class="headline"><h2>Past Events (JP)</h2></div>
      <ul>
        <li>
          August 19, 2015 - Docker Meetup Tokyo #5: "<a href="https://eventdots.jp/event/495315">Docker and Fluentd</a>"
        </li>
        <li>
          June 01, 2015 - <a href="https://eventdots.jp/event/495315">Fluentd Meetup 2015 summer</a>
        </li>
        <li>
          Apr 18, 2015 - Game Server meetup #4: "<a href="https://eventdots.jp/event/495315">Fluentd and Embulk</a>"
        </li>
        <li>
          Feb 21, 2015 - RubyKansai 65: "<a href="https://eventdots.jp/event/495315">Fluentd Unified Logging Layer</a>"
        </li>
        <li>
          Mar 13, 2014 - <a href="https://eventdots.jp/event/49560">Fluentd Meetup 2014</a>
        </li>
        <li>
          Dec 13, 2013 - <a href="http://atnd.org/events/45386">Fluentd Casual Talks #3</a>
        </li>
        <li>
          Mar 07, 2013 - <a href="http://www.zusaar.com/event/501053">Fluentd meetup in Fukuoka</a>
        </li>
        <li>
          Feb 15, 2013 - <a href="http://atnd.org/events/36713">Fluentd Casual Talks #2</a>
        </li>
        <li>
          Nov 08, 2012 - <a href="http://www.zusaar.com/event/437006">Fluentd meetup #3</a>
        </li>
        <li>
          Aug 22, 2012 - <a href="http://www.zusaar.com/event/355006">Fluentd meetup in Japan #2</a>
        </li>
        <li>
          May 18, 2012 - <a href="http://atnd.org/events/27808">Fluentd Casual Talks</a>
        </li>
        <li>
          Feb 04, 2012 - <a href="http://www.zusaar.com/event/193104">Fluentd meetup in Japan</a>
        </li>
      </ul>
      <div class="clearfix">
      </div>
    </div><!--/col-md-9-->

    <div class="col-md-3">
      <%= erb(:_right_menu, :layout => false) %>
    </div><!--/col-md-3-->
  </div><!--/row-->

</div><!--/container-->
<!--=== End Content Part ===-->
