<!--=== Slider ===-->
<div class="slider-inner">
  <div class="da-slider">
    <div class="da-slide">
      <h1 style="width:100%; text-align:center; margin: 30px auto" class="splashheader">
        Build Your Unified Logging Layer
      </h1>
    </div>
  </div>
</div><!--/slider-->
<!--=== End Slider ===-->

<!--=== Download Block ===-->
<div class="purchase">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <span>Fluentd is an open source data collector for unified logging layer.</span>
        <p>Fluentd allows you to unify data collection and consumption for a better use and understanding of data.</p>
      </div>
      <div class="col-md-3">
        <a href="/architecture" class="btn-buy hover-effect">WHAT IS FLUENTD?</a>
      </div>
    </div>
  </div>
</div><!--/row-->
<!-- End Purchase Block -->

<!--=== Content Part ===-->
<div class="container">
	<!-- Service Blocks -->
	<div class="row">
    <div class="col-md-4">
    	<div class="service">
        <i class="icon-resize-small service-icon"></i>
    		<div class="desc">
    			<h4>Unified Logging Layer</h4>
          <p>Fluentd decouples data sources from backend systems by providing a <a href="/architecture">unified logging layer</a> in between.</p>
    		</div>
    	</div>
    </div>
    <div class="col-md-4">
    	<div class="service">
        <i class="icon-cogs service-icon"></i>
    		<div class="desc">
    			<h4>Simple yet Flexible</h4>
          <p>Fluentd's 500+ plugins connect it to many data <a href="/datasources">sources</a> and <a href="/dataoutputs">outputs</a> while keeping its core simple.</p>
    		</div>
    	</div>
    </div>
    <div class="col-md-4">
    	<div class="service">
        <i class="icon-plane service-icon"></i>
    		<div class="desc">
    			<h4>Proven</h4>
          <p><a href="/testimonials">5,000+ data-driven companies</a> rely on Fluentd. Its largest user currently collects logs from 50,000+ servers.</p>
    		</div>
    	</div>
    </div>
	</div><!--/row-->
	<!-- End Service Blokcs -->

	<!-- Our Clients -->
  <div class="row margin-bottom-20">
	  <div id="clients-flexslider" class="flexslider home clients">
      <!--<div class="headline"><h2></h2></div>-->
		  <ul class="slides">
			  <li>
          <a href="testimonials">
            <img src="/assets/img/testimonials/line.png" alt="" />
          </a>
        </li>
			  <li>
          <a href="testimonials">
            <img src="/assets/img/testimonials/pplive.png" alt="" />
          </a>
        </li>
			  <li>
          <a href="testimonials">
            <img src="/assets/img/testimonials/amazonwebservices.png" alt="" />
          </a>
        </li>
			  <li style="background-color:#FFF">
          <a href="testimonials">
            <img src="/assets/img/testimonials/microsoft.png" alt="" style="padding-top: 20px;" />
          </a>
        </li>
			  <li style="background-color:#FFF">
          <a href="testimonials">
            <img src="/assets/img/testimonials/atlassian.png" alt="" style="padding-top: 20px;" />
          </a>
        </li>
			  <li>
          <a href="testimonials">
            <img src="/assets/img/testimonials/nintendo.png" alt="" />
          </a>
        </li>
			  <li>
          <a href="testimonials">
            <img src="/assets/img/testimonials/twilio.png" alt="" style="padding-top: 20px;" />
          </a>
        </li>
			  <li>
          <a href="testimonials">
            <img src="/assets/img/testimonials/gree.png" alt="" />
          </a>
        </li>
			  <li>
          <a href="testimonials">
            <img src="/assets/img/testimonials/toastexchange.png" alt="" style="padding-top: 10px;" />
          </a>
        </li>
			  <li>
          <a href="testimonials">
            <img src="/assets/img/testimonials/gungho.png" alt="" />
          </a>
        </li>
			  <li>
          <a href="testimonials">
            <img src="/assets/img/testimonials/namcobandaistudios.png" alt="" />
          </a>
        </li>
			  <li>
          <a href="testimonials">
            <img src="/assets/img/testimonials/wish.png" alt="" />
          </a>
        </li>
			  <li>
          <a href="testimonials">
            <img src="/assets/img/testimonials/ukengames.png" alt="" />
          </a>
        </li>
		  </ul>
	  </div><!--/flexslider-->
  </div>
	<!-- End Our Clients -->

  <!--=== Download Block ===-->
  <div class="purchase">
    <div class="container">
      <div class="row">
        <center>
          <p>We are a <a href="https://www.cncf.io/">Cloud Native Computing Foundation (CNCF)</a> member project.</p>
          <p>
            <a href="https://www.cncf.io/"><img src="/assets/img/cncf.png" /></a>
          </p>
        </center>
      </div>
    </div>
  </div><!--/row-->
  <!-- End Purchase Block -->

	<!-- Info Blokcs -->
	<div class="row">
    <!-- Welcome Block -->
		<div class="col-md-8">
			<div class="headline"><h2>Quotes</h2></div>

      <div class="row">
        <div class="col-sm-3">
          <img class="img-responsive" src="/assets/img/miscellany/matz.jpg" />
        </div>
        <div class="col-sm-9">
          <blockquote class="hero-unify">
            <p>"Fluentd proves you can achieve programmer happiness and performance at the same time. A great example of Ruby beyond the Web."</p>
            <small>Yukihiro Matsumoto (Matz), creator of Ruby</small>
          </blockquote>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3">
          <img class="img-responsive" src="/assets/img/miscellany/adam-wiggins.jpg" />
        </div>
        <div class="col-sm-9">
          <blockquote class="hero-unify">
            <p>"Logs are streams, not files. I love that Fluentd puts this concept front-and-center, with a developer-friendly approach for distributed systems logging."</p>
            <small>Adam Wiggins, Heroku co-founder</small>
          </blockquote>
        </div>
      </div>
    </div><!--/col-md-8-->

    <!-- Latest Shots -->
    <div class="col-md-4">
			<div class="headline"><h2>Featured Video</h2></div>
			<div id="myCarousel" class="carousel slide carousel-v1">
        <div class="carousel-inner">

          <iframe src="//www.youtube.com/embed/sIVGsQgMHIo?t=1m44s" width="350" height="197" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="//www.youtube.com/watch?v=sIVGsQgMHIo&feature=youtu.be&t=1m44s">RubyConf 2014: "Build the Unified Logging Layer with Fluentd"</a></p>

        </div>
			</div>
    </div><!--/col-md-4-->
	</div><!--/row-->
	<!-- End Info Blokcs -->

  <div class="row">
    <center>
      <a class="btn btn-primary hover-effect" style="font-size: 20px;" href="/architecture">Want to learn more about Fluentd?</a>
    </center>
  </div>

</div><!--/container-->
<!-- End Content Part -->
