<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
  <div class="container">
    <h1 class="pull-left">Sign Up for the Newsletter</h1>
  </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->
<!--=== Content Part ===-->
<div class="container">     
  <div class="row">
    <div class="col-md-6">
      <h2>Get Monthly Updates on Fluentd</h2>
      <p>
        We send out newsletters every month or so. It will include:
        <ol>
          <li>Upcoming events, large and small.</li>
          <li>Tips, how-tos and community updates.</li>
          <li>Major releases and announcements.</li>
        </ol>
      </p>
      <h3 style="margin-top:60px">Companies Powered By Fluentd</h3>
      <table>
        <tr>
          <td>
            <img src="/assets/img/testimonials/change.org.png" width="180px"/>
          </td>
          <td>
            <img src="/assets/img/testimonials/slideshare.png" width="180px"/>
          </td>
          <td>
            <img src="/assets/img/testimonials/wish.png" width="180px"/>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/assets/img/testimonials/gungho.png" width="180px"/>
          </td>
          <td>
            <img src="/assets/img/testimonials/nintendo.png" width="180px"/>
          </td>
          <td>
            <img src="/assets/img/testimonials/pplive.png" width="180px"/>
          </td>
        </tr>
      </table> 
    </div><!--/col-md-6-->
    <div class="col-md-6">
      <h2>
        Thank you for signing up for the newsletter!
      </h2>
      <p>You should be getting a confirmation email shortly</p>
    </div><!--/col-md-6-->
  </div><!--/row-->        

</div><!--/container-->     
