<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
  <div class="container">
    <h1 class="pull-left">Related Projects</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="/">Home</a></li>
      <li class="active">Related Projects</li>
    </ul>
  </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">     
  <div class="row">
    <div class="col-md-6">
      <div class="clients-page margin-bottom-20">
        <h3>Fluentular: Online Regexp Checker</h3>
        <a href="http://fluentular.herokuapp.com" target="_blank"><img alt="Fluentular" src="/assets/img/miscellany/fluentular-screenshot.png"/></a>
        <p><a href="http://fluentular.herokuapp.com">Fluentular</a> is a nifty webapp to test your Fluentd regular expressions. Especially useful for authoring the <code>format</code> field.</p>
      </div>
    </div><!--/col-md-4-->
    <div class="col-md-6">
      <div class="clients-page margin-bottom-20">
        <h3>Fluentd Monitoring Service</h3>
        <a target="_blank" href="http://docs.treasuredata.com/articles/treasure-agent-monitoring-service"><img alt="Fluentd Monitoring Service by Treasure Data" src="/assets/img/miscellany/fluentd-monitoring-screenshot.png"/></a>
        <p><a href="http://docs.treasuredata.com/articles/treasure-agent-monitoring-service">Fluentd Monitoring Service by Treasure Data</a>: Treasure Data, a main sponsor of the Fluentd project, offers a monitoring service for Fluentd.</p>
      </div>
    </div><!--/col-md-4-->
  </div><!--/row-->        
  <div class="row">
    <div class="col-md-6">
      <div class="clients-page margin-bottom-20">
        <h3>Bloomberg Clustered Private Cloud</h3>
        <a href="//github.com/bloomberg/chef-bcpc/commits/master" target="_blank"><img alt="Bloomberg Clustered Private Cloud" src="/assets/img/miscellany/bloomberg-bcpc-screenshot.png"/></a>
        <p>Fluentd is responsible for the unified logging layer for Bloomberg's Openstack-based private cloud architecture.</p>
      </div>
    </div><!--/col-md-4-->
    <div class="col-md-6">
      <div class="clients-page margin-bottom-20">
        <h3>Norikra</h3>
          <a href="//norikra.github.io" target="_blank"><img alt="Norikra: Schemaless Streaming Processing with SQL" src="/assets/img/miscellany/norikra-banner.png"/></a>
          <p>Norikra: schemaless SQL Processing with SQL.</p>
      </div>
    </div><!--/col-md-4-->
  </div><!--/row-->
  <div class="row">
    <div class="col-md-6">
      <div class="clients-page margin-bottom-20">
        <h3>fluent-agent-hydra</h3>
        <a href="https://github.com/fujiwara/fluent-agent-hydra" target="_blank"><img alt="fluent-agent-hydra" src="/assets/img/miscellany/fluent-agent-hydra-banner.png" /></a>
        <p>fluent-agent-hydra is one of fluentd forwardar written in Go. This specializes tail input and forward output for fast and low resource usage.</p>
      </div>
    </div><!--/col-md-4-->
    <div class="col-md-6">
      <div class="clients-page margin-bottom-20">
        <h3>fluent-bit</h3>
        <a href="http://fluentbit.io/" target="_blank"><img alt="fluent-bit" src="/assets/img/miscellany/fluent-bit-banner.png" /></a>
        <p>fluent-bit is the embedded event collector. It is easy to communicate with fluentd.</p>
      </div>
    </div><!--/col-md-4-->
  </div><!--/row-->        
</div><!--/container-->     
<!--=== End Content Part ===-->
