<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
  <div class="container">
    <h1 class="pull-left">Slides</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="/">Home</a></li>
      <li class="active">Slides</li>
    </ul>
  </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">     
  <div class="row">
    <div class="col-md-6">
      <div class="clients-page margin-bottom-20">

<iframe src="http://www.slideshare.net/slideshow/embed_code/35681111?rel=0" width="100%" height="400px" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen webkitallowfullscreen mozallowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://www.slideshare.net/treasure-data/the-basics-of-fluentd-35681111" title="The basics of fluentd" target="_blank">The basics of fluentd</a> </strong> from <strong><a href="http://www.slideshare.net/treasure-data" target="_blank">Treasure Data, Inc.</a></strong> </div>

      </div>
    </div><!--/col-md-6-->
    <div class="col-md-6">
      <div class="clients-page margin-bottom-20">

<iframe src="//www.slideshare.net/slideshow/embed_code/key/yDzFS3U6lRsOEc" width="100%" height="400px" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/repeatedly/fluentd-v10-in-a-nutshell" title="Fluentd v1.0 in a nutshell" target="_blank">Fluentd v1.0 in a nutshell</a> </strong> from <strong><a target="_blank" href="https://www.slideshare.net/repeatedly">N Masahiro</a></strong> </div>

      </div>
    </div><!--/col-md-6-->
  </div><!--/row-->

  <div class="row">
    <div class="col-md-6">
      <div class="clients-page margin-bottom-20">

<iframe src="//www.slideshare.net/slideshow/embed_code/key/FmrMhfe6Bjke3f" width="100%" height="400px" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/tagomoris/the-patterns-of-distributed-logging-and-containers" title="The Patterns of Distributed Logging and Containers" target="_blank">The Patterns of Distributed Logging and Containers</a> </strong> from <strong><a target="_blank" href="https://www.slideshare.net/tagomoris">SATOSHI TAGOMORI</a></strong> </div>

      </div>
    </div><!--/col-md-6-->
    <div class="col-md-6">
      <div class="clients-page margin-bottom-20">

<iframe src="//www.slideshare.net/slideshow/embed_code/key/AMdQcH1jWoFdFe" width="100%" height="400px" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/repeatedly/dive-into-fluentd-plugin-v012" title="Dive into Fluentd plugin v0.12" target="_blank">Dive into Fluentd plugin v0.12</a> </strong> from <strong><a href="//www.slideshare.net/repeatedly" target="_blank">N Masahiro</a></strong> </div>

      </div>
    </div><!--/col-md-6-->
  </div><!--/row-->       

  <div class="tag-box tag-box-v2">
   More slides are available on <a target="_blank" href="http://www.slideshare.net/search/slideshow?q=Fluentd">SlideShare</a>.
  </div>
 
</div><!--/container-->     
<!--=== End Content Part ===-->
