<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
  <div class="container">
    <h1 class="pull-left">Slides</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="/">Home</a></li>
      <li class="active">Slides</li>
    </ul>
  </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">     
  <div class="row">
    <div class="col-md-6">
      <div class="clients-page margin-bottom-20">

<iframe src="https://www.slideshare.net/slideshow/embed_code/key/lEIxYRdmadFZyB" width="510" height="420"frameborder="0" marginwidth="0" marginheight="0" scrolling="no"style="border: var(--border-1) solid #CCC; border-width:1px; margin-bottom:5px; max-width:100%;"allowfullscreen></iframe><div style="margin-bottom:5px"><strong><a href="https://www.slideshare.net/slideshow/the-basics-of-fluentd-35681111/35681111" title="the-basics-of-fluentd-35681111" target="_blank">The basics of fluentd</a></strong> from <strong><a href="https://www.slideshare.net/treasure-data" target="_blank">Treasure Data, Inc.</a></strong></div>

      </div>
    </div><!--/col-md-6-->
    <div class="col-md-6">
      <div class="clients-page margin-bottom-20">

<iframe src="https://www.slideshare.net/slideshow/embed_code/key/yDzFS3U6lRsOEc" width="510" height="420"frameborder="0" marginwidth="0" marginheight="0" scrolling="no"style="border: var(--border-1) solid #CCC; border-width:1px; margin-bottom:5px; max-width:100%;"allowfullscreen></iframe><div style="margin-bottom:5px"><strong><a href="https://www.slideshare.net/slideshow/fluentd-v10-in-a-nutshell/73965971" title="fluentd-v10-in-a-nutshell" target="_blank">Fluentd v1.0 in a nutshell</a></strong> from <strong><a href="https://www.slideshare.net/repeatedly" target="_blank">N Masahiro</a></strong></div>

      </div>
    </div><!--/col-md-6-->
  </div><!--/row-->

  <div class="row">
    <div class="col-md-6">
      <div class="clients-page margin-bottom-20">

<iframe src="https://www.slideshare.net/slideshow/embed_code/key/FmrMhfe6Bjke3f" width="510" height="420"frameborder="0" marginwidth="0" marginheight="0" scrolling="no"style="border: var(--border-1) solid #CCC; border-width:1px; margin-bottom:5px; max-width:100%;"allowfullscreen></iframe><div style="margin-bottom:5px"><strong><a href="https://www.slideshare.net/slideshow/the-patterns-of-distributed-logging-and-containers/73969355" title="the-patterns-of-distributed-logging-and-containers" target="_blank">The Patterns of Distributed Logging and Containers</a></strong> from <strong><a href="https://www.slideshare.net/tagomoris" target="_blank">SATOSHI TAGOMORI</a></strong></div>

      </div>
    </div><!--/col-md-6-->
    <div class="col-md-6">
      <div class="clients-page margin-bottom-20">

<iframe src="https://www.slideshare.net/slideshow/embed_code/key/AMdQcH1jWoFdFe" width="510" height="420"frameborder="0" marginwidth="0" marginheight="0" scrolling="no"style="border: var(--border-1) solid #CCC; border-width:1px; margin-bottom:5px; max-width:100%;"allowfullscreen></iframe><div style="margin-bottom:5px"><strong><a href="https://www.slideshare.net/slideshow/dive-into-fluentd-plugin-v012/53542893" title="dive-into-fluentd-plugin-v012" target="_blank">Dive info Fluentd plugin v0.12</a></strong> from <strong><a href="https://www.slideshare.net/repeatedly" target="_blank">N Masahiro</a></strong></div>

      </div>
    </div><!--/col-md-6-->
  </div><!--/row-->       

  <div class="tag-box tag-box-v2">
   More slides are available on <a target="_blank" href="http://www.slideshare.net/search/slideshow?q=Fluentd">SlideShare</a>.
  </div>
 
</div><!--/container-->     
<!--=== End Content Part ===-->
