<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
  <div class="container">
    <h1 class="pull-left"><%=@title%></h1>
    <ul class="pull-right breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a href="/guides">Guides & Recipes</a></li>
      <li class="active">Here</li>
    </ul>
  </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">     
  <div class="row">
    <div class="col-md-9">
      <%=@content%>
      <h2>
        What's Next?
      </h2>
      <p>
        Interested in other data sources and output destinations? Check out the following resources:
          <ul>
            <li><a href="/datasources">Fluentd Data Sources</a></li>
            <li><a href="/dataoutputs">Fluentd Data Outputs</a></li>            
          </ul>
      </p>
    </div><!--/col-md-9-->
    <div class="col-md-3">
      <%= erb(:_right_menu, :layout => false) %>
    </div><!--/col-md-3-->
  </div><!--/row-->        

</div><!--/container-->     
<!--=== End Content Part ===-->
