<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
  <div class="container">
    <h1 class="pull-left">Videos</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="/">Home</a></li>
      <li class="active">Videos</li>
    </ul>
  </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">     
  <div class="row">
    <div class="col-md-4">
      <div class="clients-page margin-bottom-20">
        <iframe width="350" height="197" src="https://www.youtube.com/embed/aeGADcC-hUA" frameborder="0" allowfullscreen></iframe>
        <p><a target="_blank" href="https://www.youtube.com/watch?v=aeGADcC-hUA">Fluentd Webinar: Best kept secret to unify logging on AWS, Docker, GCP, and more!</a></p>
      </div>
    </div><!--/col-md-4-->
    <div class="col-md-4">
      <div class="clients-page margin-bottom-20">
        <iframe width="350" height="197" src="https://www.youtube.com/embed/4kVeHcq0nnY" frameborder="0" allowfullscreen></iframe>
        <p><a target="_blank" href="https://www.youtube.com/watch?v=4kVeHcq0nnY">Sadayuki Furuhashi talks about "Logging for Production Systems in the Container Era" at Docker meetup</a></p>
      </div>
    </div><!--/col-md-4-->
    <div class="col-md-4">
      <div class="clients-page margin-bottom-20">
        <iframe width="350" height="197" src="//www.youtube.com/embed/sIVGsQgMHIo" frameborder="0" allowfullscreen></iframe>
        <p><a target="_blank" href="https://www.youtube.com/watch?v=sIVGsQgMHIo">Kiyoto Tamura talks about "Build the Unified Logging Layer" at RubyConf 2014</p>
      </div>
    </div><!--/col-md-4-->
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="clients-page margin-bottom-20">
        <iframe width="350" height="197" src="https://www.youtube.com/embed/E0dgNf1Xxbs" title="Sadayuki Furuhashi: Fluentd - Open Source Log Management" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <p><a target="_blank" href="https://www.youtube.com/watch?v=E0dgNf1Xxbs">Sadayuki Furuhashi talks about "Fluentd: Open Source Log Management" at SF Metrics Meetup</p>
      </div>
    </div><!--/col-md-4-->
    <div class="col-md-4">
      <div class="clients-page margin-bottom-20">
        <iframe width="350" height="197" src="//www.youtube.com/embed/BwqAtvEln2M" frameborder="0" allowfullscreen></iframe>
        <p><a target="_blank" href="https://www.youtube.com/watch?v=BwqAtvEln2M">Data Streams in the Ruby World</a></p>
      </div>
    </div><!--/col-md-4-->
    <div class="col-md-4">
      <div class="clients-page margin-bottom-20">
        <a href="//www.mongodb.com/presentations/real-time-data-analytics-mongodb-and-fluentd-wish"><img style="height:197px" src="/images/blog/mongodbworld2014.png"></a>
        <p><a target="_blank" href="//www.mongodb.com/presentations/real-time-data-analytics-mongodb-and-fluentd-wish">Real-time Analytics at Wish.com with Fluentd and MongoDB</a></p>
      </div>
    </div><!--/col-md-4-->
  </div><!--/row-->        
</div><!--/container-->     
<!--=== End Content Part ===-->
