header {
  position: relative;
  padding: 18px;
  text-align: left;
  background-color: #fff;
  box-shadow: 0px 7px 21px 9px rgba(0, 0, 0, 0.08);
}

header a,
header a svg {
  width: 105px;
  height: 36px;
  display: inline-block;
}

.formwrapper {
  position: relative;
  width: 100%;
  text-align: center;
}

.formwrapper .signup {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 920px;
  display: inline-block;
}

.formwrapper .signup .column {
  position: relative;
  width: 100%;
  padding: 36px 18px;
  text-align: left;
  color: #fff;
  font: 16px 'Open Sans', Helvetica, Arial, sans-serif;
}

.formwrapper .signup .column.left {
  background: #0090ed url(/images/signup/signup-ground.jpg) 100% 100% / cover no-repeat;
}

.formwrapper .signup .column h1 {
  margin: 0;
  line-height: 1.2;
  font-size: 30px;
  font-weight: bold!important;
}

.formwrapper .signup .column p,
.formwrapper .signup .column ol li {
  line-height: 1.5;
  font-weight: 300;
  color: #fff;
}

.formwrapper .signup .column p {
  margin: 40px 0;
}

.formwrapper .signup .column ol {
  margin: 0 0 0 10px;
  padding: 0;
}

.formwrapper .signup .column ol li {
  margin: 0 0 10px 15px;
}

.copyright-wrapper {
  position: relative;
  margin: 0 auto 24px;
  padding: 20px;
  width: 100%;
  max-width: 940px;
}

.copyright-wrapper p {
  text-align: center;
  font-size: 11px;
  color: #a5a5a5;
}

.svgresource {
  width: 0;
  height: 0;
  overflow: hidden;
  display: block;
}

.mktoForm {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
}

.mktoForm .cf_widget.cf_widget_socialsignon .cf_sign_on {
  margin-bottom: 30px;
  padding: 0;
  font: 11px 'Open Sans', Helvetica, Arial, sans-serif;
  background: transparent;
  border: 0px solid transparent;
}

.mktoForm .cf_widget.cf_widget_socialsignon .cf_sign_on_caption {
  padding-bottom: 10px;
  line-height: 1;
}

.mktoForm .cf_widget .cf_sign_on .cf_sign_on_button {
  padding: 4px 12px 2px;
  width: auto;
  border-radius: 20px!important;
  background: transparent;
  border: 1px solid #e0e0e0;
  font-size: 11px;
  line-height: 16px;
}

.mktoForm .cf_widget .cf_sign_on .cf_sign_on_button .cf_icon {
  width: 14px;
  height: 14px;
}

.mktoForm .mktoFieldDescriptor.mktoFormCol {
  margin-bottom: 16px!important;
}

.mktoForm .mktoFieldDescriptor.mktoFormCol,
.mktoForm .mktoFieldWrap {
  width: 100%;
}

.mktoForm .mktoOffset,
.mktoForm .mktoFieldWrap .mktoGutter.mktoHasWidth {
  display: none;
}

.mktoForm label.mktoLabel {
  position: relative;
  margin-bottom: 4px;
  width: 100%!important;
  display: block;
  font: 10px 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  text-shadow: none;
}

.mktoForm label.mktoLabel .mktoAsterix {
  display: none;
}

.mktoForm input[type=text],
.mktoForm input[type=url],
.mktoForm input[type=email],
.mktoForm input[type=tel],
.mktoForm input[type=number],
.mktoForm input[type=date],
.mktoForm select.mktoField,
.mktoForm textarea.mktoField,
.mktoForm input.mktoField.mktoInvalid,
.mktoForm textarea.mktoField.mktoInvalid,
.mktoForm select.mktoField.mktoInvalid,
.mktoForm .mktoLogicalField.mktoInvalid {
  position: relative;
  padding: 6px 12px!important;
  width: 100%!important;
  height: 40px;
  box-shadow: none!important;
  border: 2px solid #e0e0e0!important;
  border-radius: 8px!important;
  font: 16px 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.5;
}

.mktoForm input[type="checkbox"],
.mktoForm input.mktoField[type=checkbox] {
  position: relative;
  left: -5px;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border: 2px solid #e0e0e0;
  border-radius: 4px!important;
  opacity: 1;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
}

.mktoForm input[type="checkbox"]:checked:before,
.mktoForm input.mktoField[type=checkbox]:checked:before {
  position: relative;
  left: 5px;
  top: 1px;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
  content: '';
  display: block;
  width: 6px;
  height: 11px;
  border: solid #2d2d2d;
  border-width: 0 3px 3px 0;
}

.mktoForm .mktoCheckboxList > label[for="Explicit_Opt_In__c"] {
  display: none;
}

.mktoForm .mktoButtonRow,
.mktoForm .mktoButtonRow .mktoButtonWrap.mktoCleanGray {
  width: 100%;
  margin-left: 0!important;
  text-align: left;
}

.mktoForm .mktoButtonRow .mktoButtonWrap.mktoCleanGray button.mktoButton {
  margin: 18px auto 0!important;
  padding: 0 36px;
  width: 100%!important;
  height: auto!important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  border: 0px solid transparent;
  background-image: none;
  background-color: #1783dd;
  border-radius: 8px!important;
  color: #fff;
  font: 16px 'Open Sans', Helvetica, Arial, sans-serif;
  line-height: 3.2;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: none!important;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.mktoForm .mktoButtonRow .mktoButtonWrap.mktoCleanGray button.mktoButton:hover,
.mktoForm .mktoButtonRow .mktoButtonWrap.mktoCleanGray button.mktoButton:focus,
.mktoForm .mktoButtonRow .mktoButtonWrap.mktoCleanGray button.mktoButton:active {
  background-color: #206bd0;
}

.mktoForm .mktoFormRow .mktoFieldDescriptor.mktoFormCol .mktoFieldWrap .mktoError {
  top: 46px!important;
  bottom: auto!important;
  right: 0 !important;
  width: 100% !important;
}

.mktoForm .mktoFormRow .mktoFieldDescriptor.mktoFormCol .mktoFieldWrap .mktoError .mktoErrorDetail {
  display: inline-block;
}

.mktoForm .mktoError .mktoErrorArrowWrap {
  left: 7px!important;
}

.mktoForm .mktoFormRow .mktoFieldDescriptor.mktoFormCol .mktoFieldWrap .mktoError .mktoErrorArrow,
.mktoForm .mktoFormRow .mktoFieldDescriptor.mktoFormCol .mktoFieldWrap .mktoError .mktoErrorMsg {
  background-color: #b01819;
  background-image: none;
  box-shadow: none;
  border: 0px solid transparent;
}

.mktoForm .mktoFormRow .mktoFieldDescriptor.mktoFormCol .mktoFieldWrap .mktoError .mktoErrorMsg {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 8px!important;
  border-bottom-right-radius: 8px!important;
  width: 100% !important;
  max-width: none !important;
  text-shadow: none!important;
  font: 11px 'Open Sans', Helvetica, Arial, sans-serif;
}

.mktoFormRow .mktoHtmlText a {
  padding: 0;
}

.customerlogos {
  position: relative;
  width: 100%;
  text-align: center;
}

.customerlogos h3 {
  margin: 36px auto;
  font: 10px 'Open Sans', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  color: #808080;
}

.customerlogos .logostrip {
  position: relative;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  max-width: 920px;
}

.customerlogos .logostrip li {
  margin: 0 10px 20px;
  width: auto;
  list-style: none;
  display: inline-block;
  vertical-align: middle;
}

@media only screen and (min-width: 960px) {
  header {
    padding: 36px 0;
    text-align: center;
    box-shadow: none;
  }
  header a,
  header a svg {
    width: 150px;
    height: 51px;
  }
  .formwrapper .signup {
    box-sizing: border-box;
    overflow: hidden;
    text-align: left;
    background-color: #fff;
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.15);
    border-radius: 6px!important;
  }
  .formwrapper .signup .column {
    margin: 0;
    padding: 50px;
    height: 100%;
    display: table-cell;
    vertical-align: top;
  }
  .formwrapper .signup .column.left {
    max-width: 535px;
    min-height: 475px;
  }
  .formwrapper .signup .column.right {
    margin-left: -5px;
    width: 385px;
    max-width: 385px;
  }
  .formwrapper .signup .column.right:after {
    position: relative;
    width: 385px;
    height: 1px;
    content: '';
    display: block;
  }
  .formwrapper .signup .column ol {
    margin-left: 20px;
  }
  .formwrapper .signup .column p,
  .formwrapper .signup .column ol li {
    font-size: 14px;
  }
  .formwrapper .signup .column ol li {
    padding-left: 10px;
  }
  .mktoForm {
    max-width: 285px;
  }
  .mktoForm input[type=text],
  .mktoForm input[type=url],
  .mktoForm input[type=email],
  .mktoForm input[type=tel],
  .mktoForm input[type=number],
  .mktoForm input[type=date],
  .mktoForm select.mktoField,
  .mktoForm textarea.mktoField,
  .mktoForm input.mktoField.mktoInvalid,
  .mktoForm textarea.mktoField.mktoInvalid,
  .mktoForm select.mktoField.mktoInvalid,
  .mktoForm .mktoLogicalField.mktoInvalid {
    padding: 6px!important;
    font-size: 14px;
  }
  .mktoForm .mktoButtonRow .mktoButtonWrap.mktoCleanGray button.mktoButton {
    margin-top: 12px;
    width: auto!important;
    font-size: 12px;
  }
  .mktoForm .mktoError .mktoErrorArrowWrap {
    left: 1px!important;
  }
}


@media only screen and (min-width: 570px) {
  .mktoFormRow .mktoHtmlText {
    position: relative;
    width: calc(100% - 30px)!important;
    left: 30px;
    margin-top: -40px;
    color: #333333;
    line-height: 1.3;
    font-size: 13px;
  }
  
  .mktoFormRow .mktoHtmlText a {
    text-decoration: underline;
    color: #2d2d2d;
  }
}

@media only screen and (max-width: 480px) {
  .mktoForm input[type=text],
  .mktoForm input[type=url],
  .mktoForm input[type=email],
  .mktoForm input[type=tel],
  .mktoForm input[type=number],
  .mktoForm input[type=date],
  .mktoForm select.mktoField,
  .mktoForm textarea.mktoField,
  .mktoForm input.mktoField.mktoInvalid,
  .mktoForm textarea.mktoField.mktoInvalid,
  .mktoForm select.mktoField.mktoInvalid,
  .mktoForm .mktoLogicalField.mktoInvalid {
    height: 44px!important;
    padding-left: 12px!important;
    padding-right: 12px!important;
  }
}

@media (-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
  .formwrapper .signup .column.left {
    background-image: url(/images/signup/signup-ground_2x.jpg);
  }
}
